/*Area Barra de header*/
nav {
  position: fixed;
  display: flex;
  align-items: center; /* Centra verticalmente los elementos */
  justify-content: space-between; /* Espacia los elementos de manera uniforme */
  width: 100%;
}

div.row.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: -2vw;
}

div.header.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.header {
  width: 20vw;
}

div.header.opciones {
  display: flex;
  flex-direction: row;
  border-radius: 2.15vw;
  background: #fff;
  justify-content: space-evenly;
  align-self: center;
}

a.header.link {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 2.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0.5vw;
}

/*Area Hero1*/
section.hero {
  display: flex;
  align-items: center;
  background: url(/public/HERO.png) lightgray 50% / cover no-repeat;
  padding-bottom: 10vw;
}

div.col-6.hero {
  display: flex;
  flex-direction: column;
  padding-top: 20vw;
  padding-left: 5vw;
  margin-bottom: 3vw;
}

h1.hero {
  margin: 0vw -50vw 1vw 0vw;
  padding: 0vw 1vw 0vw 1vw;
  width: fit-content;
  border-radius: 1.5vw;
  background: var(--Brand-Primary2, #02aab6);
  color: #fff;
  font-family: Rubik;
  font-size: 4vw;
  font-style: normal;
  font-weight: 500;
  line-height: 159.4%; /* 76.161px */
}

div.header.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 3.5vw;
}

button.header {
  width: fit-content;
  padding-bottom: 1vw;
  padding-top: 1vw;
  border-color: transparent;
  border-radius: 6.5vw;
  background: var(--Brand-Primary, #8ce0d5);
  color: var(--Brand-Secondary-CTA, #4d45d6);
  text-align: center;

  /* Web/H3 */
  font-family: Rubik;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Area banner*/
section.banner {
  /*Layout*/
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center;
  /*Typography*/
  background: var(--Brand-Secondary-CTA, #4d45d6);
}

h1.banner {
  /*Layout*/
  width: 75vw;
  padding-bottom: 1vw;
  /*Typography*/
  color: var(--Brand-Primary, #8ce0d5);

  /* Web/H1 */
  font-family: Rubik;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p.banner {
  /*layout*/
  width: 75vw;
  /*Typography*/
  color: #fff;
  text-align: center;
  font-family: Rubik;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 128.889%; /* 138.889% */
}

/*Area Hero2*/
section.hero2 {
  background: var(--Brand-Complement, #fff2f1);
}

div.hero2.contenido {
  display: flex;
  flex-direction: row; /* Organiza en dos columnas */
  align-items: center;
  justify-content: space-between;
  gap: 2.5vw; /* Espaciado entre texto e imágenes */
}

div.hero2.texto {
  padding-left: 3vw;
  padding-right: 3vw;
}

h1.hero2 {
  color: #000;

  /* Web/H1 */
  font-family: Rubik;
  font-size: 3.11vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2.hero2 {
  color: var(--Brand-Secondary-CTA, #4d45d6);

  /* Web/H2 */
  font-family: Rubik;
  font-size: 2.16vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

li.hero2 {
  color: #000;
  font-family: Rubik;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 160.59%; /* 160.59% */
}

button.hero2 {
  display: flex;
  border-color: transparent;
  border-radius: 3.26vw;
  margin-left: 25vw;
  background: var(--Brand-Primary2, #02aab6);
  align-items: center;
  color: #fff;
  text-align: center;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 2.16vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

img.hero2 {
  border-radius: 2.15vw;
  box-shadow: 0vw 0.26vw 0.26vw 0vw rgba(0, 0, 0, 0.25);
  margin: 1vw;
  width: 30vw;
}

/*Area Feature*/

section.features {
  display: flex;
}

div.row.features {
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

div.col-3.features {
  width: 25vw;
  padding: 4vw 3vw 4vw 3vw;
}

img.features {
  width: 22vw;
  height: 23.5vw;
}

h2.features {
  color: var(--Brand-Secondary-CTA, #4d45d6);
  text-align: center;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 2.16vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p.features {
  color: #000;
  text-align: center;

  /* Web/p */
  font-family: Rubik;
  font-size: 1.042vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 150% */
}

/*Area servicios*/

select.servicios {
  display: flex;
  margin-bottom: 20vw;
}

h1.servicios {
  padding-bottom: 4vw;
  /*Typography*/
  color: #000;
  text-align: center;

  /* Web/H1 */
  font-family: Rubik;
  font-size: 6.197vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

img.servicios {
  width: 42vw;
  height: 28vw;
  padding: 0 0 2vw 3vw;
  margin-left: -3vw;
}

div.col-5.servicios {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 2vw;
}

h2.servicios {
  color: #000;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 4.304vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p.servicios {
  color: #000;

  /* Web/p */
  font-family: Rubik;
  font-size: 2.08vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 150% */
}

button.servicios {
  border-radius: 6.485vw;
  background: var(--Brand-Secondary-CTA, #4d45d6);
  color: #fff;
  text-align: center;
  border-color: transparent;

  /* Web/H3 */
  font-family: Rubik;
  font-size: 3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Area de contador*/

h1.contador {
  margin-top: 5vw;
  margin-bottom: 3vw;
  color: #000;
  text-align: center;

  /* Web/H1 */
  font-family: Rubik;
  font-size: 6.197vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div.row.contador {
  border-radius: 4.280vw;
  background: linear-gradient(180deg, #c5ebe4 -21.85%, #52c1ad 47.75%);
  text-align: center;
  justify-content: center;
  margin: 2vw 5vw 5vw 5vw;
}

p.contador.numeros.anios {
  color: #fff;
  font-family: Inter;
  font-size: 7.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.contador.numeros.anios::after {
  content: "años";
  color: #fff;
  font-family: Inter;
  font-size: 3.67vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.contador.texto {
  color: #072594;
  font-family: Roboto;
  font-size: 3.15vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3vw;
}

p.contador.numeros.horas {
  color: #fff;
  font-family: Inter;
  font-size: 7.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left:-4vw;
}

p.contador.numeros.horas::after {
  content: "hrs";
  color: #fff;
  font-family: Inter;
  font-size: 3.67vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.contador.numeros {
  color: #fff;
  font-family: Inter;
  font-size: 7.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 3vw;
}

/*Area Testimonio*/

div.testimonio.titulo {
  display: flex;
  justify-content: center;
}

h2.testimonio {
  color: #000;
  text-align: center;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

h2.testimonio::after {
  content: "confianza, aprendizaje y seguridad. ";
  color: var(--Brand-Secondary-CTA, #4d45d6);

  /* Web/H2 */
  font-family: Rubik;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div.testimonio.contenido {
  display: flex;
  flex-direction: column;
  padding: 1vw 12vw 1vw 12vw;
  border-radius: 4.28vw;
  margin: 4vw 10vw 8vw 10vw;
  border: 3px solid #fff;
  box-shadow: 0px 0.52vw 1.17vw 0.39vw rgba(0, 0, 0, 0.25);
}

p.testimonio.nombre {
  color: #000;
  font-family: Roboto Flex;
  font-size: 2.99vw;
  font-style: normal;
  font-weight: 800;
  line-height: 138.889%; /* 138.889% */
}

p.testimonio.texto {
  color: #000;
  font-family: Roboto Flex;
  font-size: 2.99vw;
  font-style: italic;
  font-weight: 400;
  line-height: 4.15vw;
}

/*Area de Expansion*/

section.expansion {
  display: flex;
  background: var(--Brand-Complement2, #e9e3e1);
  box-shadow: 0vw 0.52vw 10.9vw 0vw rgba(0, 0, 0, 0.25) inset;
}

div.expansion {
  text-align: start;
  margin-top: 5vw;
}

h1.expansion {
  width: fit-content;
  padding: 0 1vw 0 1vw;
  margin-top: 1vw;
  border-radius: 2.983vw;
  background: var(--Brand-Primary2, #02aab6);
  color: #fff;
  font-family: Rubik;
  font-size: 6.197vw;
  font-style: normal;
  font-weight: 500;
  line-height: 159.4%;
}

p.expansion.superior {
  margin-top: 3vw;
  padding-left: 1vw;
  color: #000;
  font-family: Roboto Flex;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.expansion.inferior {
  margin-top: 3vw;
  padding-left: 1vw;
  color: #000;
  font-family: Roboto Flex;
  font-size: 2.075vw;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 150% */
}

div.expansion.button {
  display: flex;
  justify-content: center;
  text-align: center;
}

button.expansion {
  border-radius: 6.485vw;
  margin-bottom: 5vw;
  margin-top: 3vw;
  background: var(--Brand-Primary2, #02aab6);
  color: #fff;
  text-align: center;
  border-color: transparent;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/*Area de Colaboradores*/
div.colaboradores {
  display: flex;
  justify-content: center;
  border-radius: 160.5vw;
}

h1.colaboradores {
  color: #000;
  text-align: center;

  /* Web/H1 */
  font-family: Rubik;
  font-size: 6.197vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

img.colaboradores {
  width: 100vw;
  margin-bottom: 1vw;
}

/*Area de Footer*/

footer.footer {
  background-color: #4d45d6;
  padding-top: 20vw;
}

span.footer {
  display: flex;
  justify-content: center;
  padding-left: 1vw;
  align-items: center;
}

img.footer {
  width: 10vw;
}

div.footer.texto {
  display: flex;
  justify-content: start;
}

h3 {
  margin-left: -5vw;
  margin-right: -5vw;
  color: #fff;

  /* Web/H3 */
  font-family: Rubik;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div.footer.link {
  display: flex;
  flex-direction: column;
}

a.footer {
  text-decoration: transparent;
  padding-bottom: 2vw;
  margin-left: 9vw;
  padding-right: 5vw;
  color: #fff;

  /* Web/H3 */
  font-family: Rubik;
  font-size: 2vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div.footer.redes {
  display: flex;
  justify-content: center;
}

h2.footer {
  color: #fff;
  text-align: center;

  /* Web/H2 */
  font-family: Rubik;
  font-size: 4.3vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

div.row.footer {
  display: inline;
  padding-left: 25vw;
}

img.footer.redes{
  width: 10vw;
}

div.footer.small {
  display: flex;
  justify-content: center;
  margin-top: 10vw;
  padding-bottom: 10vw;
}

small.footer {
  color: #fff;
  text-align: center;

  /* Web/small */
  font-family: Rubik;
  font-size: 1.73vw;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
